.container{
  height: 100%;
  display: grid;
  grid: auto 40px / auto;
}

.content{
  grid-column: 1/2;
  grid-row: 2/7;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.blog-card{
  width: 300px;
  height: 420px;
  background-color: #F2F3F7;
  margin: 20px;
  text-align: center;
  font-weight: 300;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.blog-card img{
  margin: 0;
  height: 50%;
  width: 100%;
}

.footer{
  height: 100%;
  grid-column: 1/2;
  grid-row: 7/8;
  color: white;
  font-weight: 300;
  background-color: #637081;
  text-align: center;
}

.sidebar{
  height: auto;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #F2F3F7;
  text-align: center;
}

.sidebar h1 {
  font-size: 2em;
  margin: 20px 0;
}

.sidebar ul{
  margin: 20px 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.sidebar li{
  margin: 8px auto;
}

.sidebar a{
  font-weight: 400;
  text-decoration: none;
  opacity: 0.7;
  letter-spacing: 1px;
  cursor: pointer;
}

.sidebar a:hover{
  text-decoration: underline;
}

.sidebar .profile-image{
  width: 150px;
  height: 150px;
  margin: 40px 0 20px 0;
  border-radius: 50%;
}

.sidebar .icon{
  margin: 16px auto;
  width: 20px;
  height: 20px;
  display: block;
  opacity: 0.8;
  cursor: pointer;
}

.sidebar button {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .container{
    height: 100%;
    display: grid;
    grid: auto 40px / 300px auto;
  }
  
  .content{
    grid-column: 2/3;
    grid-row: 1/7;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
  }

  .footer{
    height: 100%;
    grid-column: 2/3;
    grid-row: 7/8;
    color: white;
    font-weight: 300;
    background-color: #637081;
    text-align: center;
  }
  
  .sidebar{
    height: 100%;
    width: 300px;
    position:fixed;
    grid-column: 1/2;
    grid-row: 1/8;
    background-color: #F2F3F7;
    text-align: center;
  }
}